.table {
  display: inline-flex;

  font-size: 2rem;
  line-height: 50px;
  text-align: center;
}

.span {
  &__parent {
    display: flex;
    flex-direction: column;
    flex-grow: 0;

    min-width: 50px;
    min-height: 50px;
  }

  &__child {
    display: flex;
    justify-content: center;

    min-width: 50px;
    min-height: 50px;
  }

  &__last {
    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid black;
  }
}
