.table {
  display: inline-flex;

  line-height: 40px;
  text-align: center;
  color: #000;
}

.span {
  &__parent {
    display: flex;
    flex-direction: column;
    flex-grow: 0;

    padding: 0;
    margin: 0;
  }

  &__child {
    display: flex;
    justify-content: center;

    padding: 0;
    margin: 0;

    font-size: 2rem;
    text-align: center;
    color: #000;

    outline: 1px solid black;
    border: none;
  }

  &__last {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0;
    margin: 0;

    font-size: 2rem;
    text-align: center;
    color: #000;

    outline: 1px solid black;
    border: none;
  }
}
